{{- $defaultConfig := .Site.Data.config.default.widgets.recent_posts -}}
{{- $configData := ( or .Site.Data.config.widgets.recent_posts $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

<section class='widget widget-recent_posts sep-after'>
    {{ range ( first .Site.Params.ArticlePerPage ( where .Site.RegularPages "Section" "blog" ) ) }}
    {{ partial "article" . }}
    {{ end }}
</section>

<section class='widget widget-recent_posts sep-after'>
    <a class="center" href="/blog/page/2">
        <h6>← Previous Posts</h6>
    </a>
</section>